<p>We are a small team (just two people) of blockchain enthusiasts that has been exploring the space since 2017 and believe in the future of proof-of-stake systems.</p>

<p>In 2019, we started validating on various testnet networks including <a href="https://www.regen.network/">Regen Network</a>, <a href="https://codaprotocol.com/">Coda Protocol</a>, <a href="https://althea.net/">Althea</a>, Mictotick, <a href="https://edgewa.re/">Edgeware</a> and <a href="https://polkadot.network/">Polkadot</a>.</p>

<p>In November 2019, we launched our first mainnet validator for <a href="https://www.kava.io/">Kava</a>.</p>

<p>We find inspiration in fellow independent validators like <a href="https://twitter.com/cjremus">@cjremus</a> and <a href="https://twitter.com/cryptomeleabs">@cryptomeleabs</a> and believe that smaller validators should have more power and wider participation in POS systems.</p>
