<div style="text-align:center"><img src="/img/leonids-logo.png" width="250" /></div>
<br>
<p>We are a team of two blockchain enthusiasts who have been exploring the space since 2017 and believe in the future of proof-of-stake systems.</p>

<p>In 2019, we started validating on various testnet networks including <a href="https://www.regen.network/">Regen Network</a>, <a href="https://codaprotocol.com/">Coda Protocol</a>, <a href="https://althea.net/">Althea</a>, Mictotick, <a href="https://edgewa.re/">Edgeware</a> and <a href="https://polkadot.network/">Polkadot</a>.</p>

<p>In November 2019, we launched our first mainnet validator for <a href="https://kava.bigdipper.live/validator/kavavaloper1kc6vzheht92jwf0gtzhjk6jjht67rxhal9z04v">Kava</a>.</p>

<p>We find inspiration in fellow independent validators like <a href="https://twitter.com/cjremus">@cjremus</a> and <a href="https://twitter.com/cryptomeleabs">@cryptomeleabs</a> and believe that smaller validators should have more power and wider participation in POS systems.</p>

<p>We work hard every day to learn, become better in what we do, and be a valuable part of the validator community.</p>

<p>If you share the idea of empowering regular people and creating economic freedom for everyone, please consider delegating your stake to us.</p>

<p>If not, we welcome your support too <i class="fa fa-smile-o" aria-hidden="true"></i></p>
