<div style="text-align:center"><img src="/img/leonids-logo.png" width="250" /></div>
<br>
<p>We are a team of two blockchain enthusiasts who have been exploring the space since 2017 and believe in the future of proof-of-stake systems.</p>

<p>In 2019, we started validating on various testnet networks including <a href="https://www.regen.network/">Regen Network</a>, <a href="https://codaprotocol.com/">Coda Protocol</a>, <a href="https://althea.net/">Althea</a>, Mictotick, <a href="https://edgewa.re/">Edgeware</a> and <a href="https://polkadot.network/">Polkadot</a>.</p>

<p>In November 2019, we launched our first mainnet validator for <a href="https://kava.bigdipper.live/validator/kavavaloper1kc6vzheht92jwf0gtzhjk6jjht67rxhal9z04v">Kava</a>.</p> In 2020, we started validating on <a href="https://portal.chain.centrifuge.io/#/staking">Centrifuge</a> (our validator address is 4cS65GoK9sfqJNRg5pmpYdvXyJhkYp9FmhyGJ4uRmTRoFzKW), <a href="https://polkastats.io/validator/?accountId=GCNHHRBtpDcgADCaRPMNNk52JiitGrcv3DMQxwE6owXAfbt">Kusama</a> and <a href="https://explorer.celo.org/address/0xc8a81d473992c7c6d3f469a8263f24914625709d/celo">Celo</a>.

<p>We find inspiration in fellow independent validators like <a href="https://twitter.com/cjremus">@cjremus</a> and <a href="https://twitter.com/cryptomeleabs">@cryptomeleabs</a> and believe that smaller validators should have more power and wider participation in POS systems.</p>

<p>We work hard every day to learn, become better in what we do, and be a valuable part of the validator community.</p>

<p>We run our mainnet validators on secure infrastructure that includes bare metal servers to ensure low latency and high uptime and sentry-node architecture to prevent DDoS attacks. We employ various monitoring and alerting tools to stay up-to-date with the status of our nodes and react quickly if anything goes wrong.</p>

<p>If you share the idea of empowering regular people and creating economic freedom for everyone, please consider delegating your stake to us.</p>

<p>If not, we welcome your support too <i class="fa fa-smile-o" aria-hidden="true"></i></p>
